* { /*Universal settings that help set everything to a standard and avoid auto margin and padding issues*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dropdown-menu {  /*CSS Settings for the entire dropdown menu*/
    display: flex; /*Sets the display mode to flex for easier movement of objects*/
    flex-direction: column; /*Sets the display direction to column, so elements are stacked on top of each other*/
    margin-left: 30px; 
    margin-top: 30px; /*Margin settings move it away from the top and left side of the screen*/
}

.dropdown-button {
    width: 40px;
    height: 40px; /*Height and width options set the size of the button*/
    font-size: large; /*Sets the font size in the button to take more space*/
    border: none; /*Eliminates a border so the button is seamless*/
    transform: rotate(90deg); /*Rotates the button by default so that the three lines resemble a hamburger menu*/
    background-color: white; /*Set the background color to white so that the button is invisible, and only the text can be seen*/
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 199, 199) ;
    width: 170px;
    pointer-events: none;
    border-radius: 5px;
    opacity: 0;
    transform:translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-content a:hover { /*Change the background color of menu items when they are hovered over*/
    background-color:#f1f1f1;
}

.dropdown-content a { /*Decoration for list items*/
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}

.dropdown-menu > .dropdown-button:focus + .dropdown-content{ /*When the dropdown button is focused on, change the position and opacity of the menu items*/
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu > .dropdown-button:focus { /*When the dropdown button is focused on, play the animation*/
    animation: rotate 75ms linear normal forwards;
}

@keyframes rotate { /*Animation that rotates the animated object 90 degrees*/
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}